/** 
-Import Google Fonts and Define font variables
-Define color varibalbes
-Reset CSS properties(margin, padding)
*/

// Google Font
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

// Font variable
$inter: "Inter", sans-serif;

// Colors
:root {
  --color-lime-green: hsl(163, 72%, 41%);
  --color-bright-red: hsl(356, 69%, 56%);
  --color-facebook: hsl(208, 92%, 53%);
  --color-twitter: hsl(203, 89%, 53%);
  --color-youtube: hsl(348, 97%, 39%);
  --color-instagram: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );
}

// Resetting
* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $inter;
  font-size: 1.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg-white {
  z-index: -1;
  position: absolute;
  background-color: hsl(225, 100%, 98%);
  width: 100vw;
  height: 235px;
  border-radius: 0 0 1rem 1rem;
}
