// define the theme-switch using input field.
.theme-switch {
  position: relative;
  cursor: pointer;
  input[type="checkbox"] {
    position: absolute;
    width: 0;
    height: 0;
  }
  // changed the background color as checked
  input:checked ~ .base {
    background: #aeb3cb;
    transition: 0.5s;
  }
  // move the ball
  input:checked ~ .circle {
    transform: translateX(120%);
    background-color: white;
  }
  // change the color of the ball as checked
  .base {
    width: 48px;
    border-radius: 16px;
    height: 24px;
    background: linear-gradient(
      to right,
      hsl(210, 78%, 56%),
      hsl(146, 68%, 55%)
    );
  }
  .circle {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #252b42;
    border-radius: 50%;
    top: 3px;
    left: 4px;
    transition: 0.5s;
  }
}
